# Byte-compiled / optimized / DLL files
Python/__pycache__/
*.py[cod]
*$py.class

# local directories and files
Assets/CustomFonts/
Assets/Working/
test.py

# pyinstaller
Python/build/
Python/dist/
*.spec

# csharp
bin/
obj/
.idea/
